@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

@theme {
  --font-heading: "Bitcount Grid Double", sans-serif;
}

@layer base {
  h1 {
    @apply font-heading;
    font-size: min(20vw, 70px); 
    color: rgb(90, 90, 250);
  }

  h2 {
    font-size: min(20vw, 40px); 
  }
}

@layer components {
  .create-button {
    background-color: rgb(90, 90, 250);
    color: white;
    border-radius: 0.5rem;
    padding-inline: 0.8rem;
    padding-block: 0.4rem;
    margin: 0.2rem;
    border: 1px solid rgb(90, 90, 250);
    cursor: pointer;
    text-wrap: nowrap;
  }
  .create-button:hover, .create-button:active {
    background-color: white;
    border: 1px solid rgb(90, 90, 250);
    color: rgb(90, 90, 250);
  }
  .edit-button {
    background-color: white;
    border: 1px solid rgb(90, 90, 250);
    color: rgb(90, 90, 250);
    border-radius: 0.5rem;
    padding-inline: 0.8rem;
    padding-block: 0.4rem;
    margin: 0.2rem;
    cursor: pointer;
    text-wrap: nowrap;
  }
  .edit-button:hover, .create-button:active {
    background-color: rgb(90, 90, 250);
    color: white;
  }

  .delete-button {
    background-color: white;
    border: 1px solid red;
    color: red;
    border-radius: 0.5rem;
    padding-inline: 0.8rem;
    padding-block: 0.4rem;
    margin: 0.2rem;
    cursor: pointer;
    text-wrap: nowrap;
  }

  .delete-button:hover, .delete-button:active {
    background-color: red;
    color: white;
  }

  .input {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 0.2rem;
  }

  .input:hover, .input:active {
    border: 1px solid rgb(90, 90, 250);
  }

  .tag {
    background-color: rgb(82, 82, 230);
    color: white;
    font-size: 0.66rem;
    border-radius: 0.5rem;
    padding-inline: 0.8rem;
    padding-block: 0.2rem;
    margin: 0.2rem;
  }
}